PZ_SERVER_NAME=ZomboidServer
PZ_STEAM_BRANCH=public
PZ_DATA_PATH=/var/lib/zomboid-manager/data
PZ_SERVER_PATH=/opt/zomboid/server
PZ_GAME_PORT=16261
PZ_DIRECT_PORT=16262
PZ_MAX_PLAYERS=16
PZ_MAP_NAMES=Muldraugh, KY
PZ_PUBLIC_SERVER=true
PZ_PAUSE_ON_EMPTY=true
PZ_AUTOSAVE_INTERVAL=15
PZ_STEAM_VAC=true
PZ_SERVER_PASSWORD=
PZ_ADMIN_PASSWORD=CHANGE_ME
PZ_RCON_PASSWORD=CHANGE_ME
PZ_RCON_PORT=27015
